/* Adjusting cannacter logo */
.logo {
    padding: 0;
    max-width: 130px;
    display: inline-block;
}

.cann__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.2);
    position: relative;
    margin-bottom: -15px;
}

.cann__header .navbar-default {
    border-bottom: none;
}

.menu-list {
    right: 0;
}

.cann__search {
    padding-left: 0;
}

.cann__header .browse-categories {
    left: -540px;
    min-width: 480px;
}

.myaccount__dropdown li a {
    color: #00adef!important;
}

.cann__header .admin {
    position: fixed;
    top: 0;
    right: 0;
}
.cann__header .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: #285f8f;
}

.cann__header .navbar-nav>li>a {
    color: rgba(255,255,255, .8);
}

.cann__header .menu-list.nav-pills li {
    width: 50%;
}

.cann__header a[href^="/Accou"] {
    color: #fff;
    font-weight: bold;
}

.navbar-nav .open .dropdown-menu>li>a {
    color: rgba(255,255,255, .8);
}

.cann__search_label {
    font-size: 12px;
    margin-bottom: 0;
    color: #fff;
}

.cann__age {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('https://www.cannacter.com/static/media/background.c9c9cdae.jpg') top #fff;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 16px;
    visibility: hidden;
    opacity: 0;
    z-index: -10;
}

.cann__age--is-visible {
    z-index: 99999;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all ease-out 250ms;
    -o-transition: all ease-out 250ms;
    transition: all ease-out 250ms;
}

.cann__age_container {
    max-width: 640px;
    width: 100%;
    background: #00adef;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

}

.cann__age_container picture {
    max-width: 240px;
    width: 100%;
}
.cann__age_container h3,
.cann__age_container p {
    text-align: center;
}

.cann__age_container p {
    margin-bottom: 24px;
}

.cann__age_button {
    border: 2px solid #000;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #000;
    -webkit-transition: all ease-in 100ms;
    -o-transition: all ease-in 100ms;
    transition: all ease-in 100ms;
    cursor: pointer;
}

.cann__age_button:hover {
    color: white;
    background: #000;
}

.cann__age_button:first-child {
    margin-right: 4px;
}
.cann__age_button:last-child {
    margin-left: 4px;
}

@media screen and (max-width: 680px) {
    .cann__search_label {
        display: none;
    }
    .cann__header .navbar-collapse {
        position: absolute;
        width: 100%;
        top: 100%;
        background: #00adef;
        z-index: 999;
    }
}