<div class="row">
    <div class="col-xs-12 aboutUs">
        <div class="well well-sm section-title col-xs-12">
            @Html.GlobalResource("About")
        </div>
        @Html.GetSiteContent("AboutUs")
    </div>
</div>
